services:

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Mahesh%40204
      POSTGRES_DB: shared_models
    volumes:
      - postgres-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_ui
    restart: unless-stopped
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: mahesh.darimireddy1997@gmail.com
      PGADMIN_DEFAULT_EMAIL_PASSWORD: Mahesh123
    depends_on:
      - postgres

volumes:
  postgres-data:
